@use 'base'

// layout
html
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
  font-size: 16px
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box

// common
.debug
  border: solid 1px base.$debug-color

.default-color
  color: base.$font-color-default

.gray-color
  color: base.$font-color-gray

.disable-deco
  text-decoration: none !important

.fz-12px
  font-size: 12px

.mr-6px
  margin-right: 6px

.mb-4px 
  margin-bottom: 4px

.mb-8px
  margin-bottom: 8px

.mb-16px
  margin-bottom: 16px

.mb-18px
  margin-bottom: 18px

.mt-18px
  margin-top: 18px

// unit

.img-50x50
  width: 50px
  height: 50px

.header-content-gap
  margin-top: base.$header-content-gap-top
  margin-bottom: base.$header-content-gap-bottom

.profile-username
  color: base.$font-color-default
  font-size: 26px
  line-height: 1.25
  
.profile-account
  font-size: 20px
  color: base.$font-color-gray
  font-style: normal
  font-weight: 300
  line-height: 24px

.profile-message
  line-height: 24px

.profile-info
  color: base.$font-color-default
  font-size: 14px
  line-height: 21px

.repository-title
  font-size: 20px
  font-weight: 600
  line-height: 30px

.repository-desc
  font-size: 14px
  line-height: 21px
  color: base.$font-color-gray

.repository-info
  font-size: 12px
  line-height: 18px
  color: base.$font-color-gray